/*variables*/
/*color-scheme*/
/*$color-base: 	#2d9681;*/
/*$color-accent: 	#bb7733;*/
/*$color-accent: #f8a34b;*/
/*grid*/
/*responses*/
/*sizes*/
/*type*/
/*layout*/
/*presets*/
/*Red borders on everything*/
* {
  /*border: 1px dotted red !important;*/ }

/*Box-sizing*/
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }


canvas {
    border: 1px solid black;
    
}

strong {
  font-weight: 600; }

a {
  text-decoration: none;
  letter-spacing: 1px; }

h1, h2, h3 {
  font-size: 36px;
  font-family: helvetica;
  font-weight: 600;
  letter-spacing: 3px;
  margin-bottom: 75px;
  padding-bottom: 10px;
  color: #666; }

h2, h3 {
  font-size: 18px;
  margin-bottom: 25px; }

h3 {
  font-size: 14px;
  margin-bottom: 10px; }

p {
  font-size: 14px;
  font-family: monospace;
  color: #666;
  line-height: 20px;
  margin-bottom: 25px; }

/* 
  Reset
  http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1,
h2,
h3, h2, h3, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.drop-zone {
  border: 2px dashed #ccc; 
  width: 580px;
  height: 845px;
  position: absolute;
  
}
.grabbing {cursor: -webkit-grabbing; cursor: grabbing;}

.grab {cursor: -webkit-grab; cursor: grab;}
.crosshair {cursor: crosshair;}
.container {
  width: 200px;
  height: 300px;

}
/* the scrollbar area itself */
::-webkit-scrollbar {
  display: none; 
}
/* the up/down/left/right buttons */
::-webkit-scrollbar-button {

  
}
/* the zone where the scroll will happen */
::-webkit-scrollbar-track {
  
}
/* not sure what this is */ 
::-webkit-scrollbar-track-piece {
  
}
/* the famous "elevator" */
::-webkit-scrollbar-thumb {
  background-color: #444444;
}
/* what stands in the corner, between the horizontal and the vertical scrollbars */
::-webkit-scrollbar-corner {

  
}
/* the resizer thingy into that corner */
::-webkit-resizer {
  
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

#image-section {
  width: 50%;
  /*margin-right: $gutterPercent;*/
  float: left; }
  #image-section:nth-child(n) {
    margin-right: 0; }
  #image-section:last-child {
    margin-right: 0; }
  #image-section #pdf-controls {
    text-align: center; }
  #image-section #image-area {
    position: relative;
    overflow: scroll; }
    #image-section #image-area #box-select {
      display: none;
      z-index: 9000;
      pointer-events: none;
      position: absolute !important;
      cursor: default !important;
      background-color: rgba(28, 190, 239, 0.6);
      border: 1px solid #444444; }

.box-active {
  display: block !important; }

  object {
    width:100%;
    max-height:100%;
}
   
.parent {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -190px;
}

.inner {
  
  height:98%;
  width:100%;



 
}

.outer {

  width:280px;
  height:150px;   

}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 20px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(253, 252, 252, 0.75) 1.5em 0 0 0, rgba(253, 252, 252, 0.75) 1.1em 1.1em 0 0, rgba(253, 252, 252, 0.75) 0 1.5em 0 0, rgba(253, 252, 252, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(253, 252, 252, 0.75) 0 -1.5em 0 0, rgba(253, 252, 252, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(253, 252, 252, 0.75) 1.5em 0 0 0, rgba(253, 252, 252, 0.75) 1.1em 1.1em 0 0, rgba(253, 252, 252, 0.75) 0 1.5em 0 0, rgba(253, 252, 252, 0.75) -1.1em 1.1em 0 0, rgba(253, 252, 252, 0.75) -1.5em 0 0 0, rgba(253, 252, 252, 0.75) -1.1em -1.1em 0 0, rgba(253, 252, 252, 0.75) 0 -1.5em 0 0, rgba(253, 252, 252, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

